<!DOCTYPE html>
<html>
<head>
  <title>Factura</title>
  <!-- Agrega los estilos de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .custom-table thead {
      background-color: #83A603;
      color: #fff;
    }
    
    .custom-table th {
      background-color: #83A603;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <br>
        <br>
        <h1 class="text-center">Factura</h1>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h5>Información del cliente:</h5>
            <p>Nombre completo: {{ request.user.first_name }} {{ request.user.last_name }} </p>
            <p>Dirección: {{usuario.direccion}}</p>
            <p>Número de teléfono: {{usuario.telefono}}</p>
          </div>
          <div class="col-md-6">
            <h5>Detalles de la factura:</h5>
            <p>Número de factura: {{fac_id}}</p>
            <p>Fecha de emisión: {{fecha}}</p>
          </div>
        </div>
        <hr>
        <table class="table custom-table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Precio unitario</th>
              <th>Importe</th>
            </tr>
          </thead>
          <tbody>
            {% block items %}
            {% for pedido, precio_calculado in zipped_data %}
            <tr>
                <td>{{ pedido.id_comida.nombre }}</td>
                <td>{{ pedido.cantidad }}</td>
                <td>{{ pedido.id_comida.precio }}</td>
                <td>{{ precio_calculado }}</td>
            </tr>
            {% endfor %}
            {% endblock items %}
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-6 offset-md-6">
            <table class="table">
              <tbody>
                <tr>
                  <th class="text-right">Subtotal:</th>
                  <td>{{subtotal}}</td>
                </tr>
                <tr>
                  <th class="text-right">Ahorro:</th>
                  <td>{{descuento}}</td>
                </tr>
                <tr>
              <th  class="text-right">Total:</th>
              <td>{{total}}</td>
              </tr>
            
          </tbody>
        </table>
      </div>
    </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a href="../vistaPrincipal" class="btn btn-success mr-3">Volver</a>
</div>

</body>
</html>
