
{# Cargamos la librería #}
{% load bootstrap4 %}

{# CSS Bootstrap #}
{% bootstrap_css %}
 
     {# Widget Tweaks #}
      {% load widget_tweaks %}
 
     {# Archivos #}
     {% load static %} 
<!DOCTYPE html>
<html>
<head>
  <title>Factura</title>
  <!-- Agrega los estilos de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .custom-table thead {
      background-color: #83A603;
      color: #fff;
    }
    
    .custom-table th {
      background-color: #83A603;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <br>
        <h1 class="text-center">Factura</h1>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h5>Información del cliente:</h5>
            <p>Nombre completo: {{ request.user.first_name }} {{ request.user.last_name }} </p>
            <p>Dirección: {{usuario.direccion}}</p>
            <p>Número de teléfono: {{usuario.telefono}}</p>
          </div>
          <div class="col-md-6">
            <h5>Detalles de la factura:</h5>
            <p>Número de factura: {{fact_id}}</p>
            <p>Fecha de emisión: {{fecha}}</p>
          </div>
        </div>
        <hr>
        <table class="table custom-table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Precio unitario</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% block items %}
            {% for pedido in pedidos %}
                <tr>
                  <td>{{ pedido.id_comida.nombre }}</td>
                  <td>{{ pedido.cantidad }}</td>
                  <td>{{ pedido.id_comida.precio }}</td>
                  <td></td>
                </tr>
            {% endfor %}
            {% endblock items %}
          </tbody>
          <tfoot>
            <tr>
              <th colspan="3" class="text-right">Total:</th>
              <th>{{total}}</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
