<!DOCTYPE html>
<html lang="en">
<head>
     {# Cargamos la librería #}
     {% load bootstrap4 %}

      {# CSS Bootstrap #}
 {% bootstrap_css %}

 {# Widget Tweaks #}
 {% load widget_tweaks %}

 {# Archivos #}
 {% load static %} <!-- STATIC_URL -->

 <style>
     body {
         background-color: #333333;
     }
     
     h1 {
         color: #ffffff;
     }
     label {
        color: #ffffff;
    }
 </style>
 <head>
    <body>
    <div class="container" style="padding: 30px; border-radius: 10px;">
        <h1 class="text-center mb-4">Realizar Pedido</h1>

        <form method="post" enctype="multipart/form-data">

            <!-- Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro -->
            {% csrf_token %}
            
            <!-- Formulario para pedido -->
            <div>
                <label for="id" class="txt_negrita">ID:</label>
                {{ form.id|add_class:"form-control" }}
            </div>
            <div>
                <label for="id_usuario" class="txt_negrita">Usuario:</label>
                {{ form.id_usuario|add_class:"form-control" }}
            </div>
            <div>
                <label for="id_comida" class="txt_negrita">Comida:</label>
                {{ form.id_comida|add_class:"form-control" }}
            </div>
            <div>
                <label for="cantidad" class="txt_negrita">Cantidad:</label>
                {{ form.cantidad|add_class:"form-control" }}
            </div>
            <p>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mr-3">Aceptar</button>
                <a href="./" type="submit" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
        {# JS y jQuery Bootstrap #}
        {% bootstrap_javascript jquery='full' %}
        
    </div>
</body>
<html>